{% if page.disallow %}
  <meta name="robots" content="noindex, nofollow">
{% endif %}

<link rel="manifest" type="application/manifest+json" href="{{ "/manifest.json" | relative_url }}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<script>
// Check compatibility for the browser we're running this in
if ("serviceWorker" in navigator) {
  if (navigator.serviceWorker.controller) {
    console.log("[{{ site.title }}] active service worker found, no need to register");
  } else {
    // Register the service worker
    navigator.serviceWorker
      .register("{{ '/pwabuilder-sw.js' | relative_url }}", {
        scope: "./"
      })
      .then(function (reg) {
        console.log("[{{ site.title }}] Service worker has been registered for scope: " + reg.scope);
      });
  }
}
</script>
