.jekyll-cache
.idea/
.vagrant
_site/
.sass-cache/
node_modules
bower_components
.jekyll-metadata
.DS_Store
Gemfile.lock
npm-debug.log
package-lock.json
_posts/.ztr-directory
*/.ztr-directory
vendor/
.bundle/*
*:Zone.Identifier
