---
layout: splash
sitemap: false
permalink: /404.html
title: 404 Siden kunne ikke findes
excerpt: "Siden blev ikke fundet. Vi håber, at du kan nyde nogle af de andre sider her på sitet."
feature_row_intro:
  - title: "404 Vi kunne ikke finde siden"
    excerpt: "Siden blev ikke fundet. Vi håber, at du kan nyde nogle af de andre sider her på sitet."
intro:
  - excerpt: 'Følg os på &nbsp; [<i class="fab fa-facebook-f"></i> Facebook](https://www.facebook.com/legestue/){: .btn .btn--facebook} og [<i class="fab fa-pinterest"></i> Pinterest](https://www.pinterest.dk/legestue/){: .btn .btn--danger} og [<i class="fab fa-youtube"></i> Youtube](https://www.youtube.com/user/fodboldenslegestue){: .btn .btn--danger}'
feature_row:
  - image_path: https://images.unsplash.com/photo-1510210699649-901187bf15e4?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldtricks - Photo by Markus Spiske on Unsplash"
    title: "Fodboldtricks"
    excerpt: "Vi har samlet en hulens masse fodboldtricks."
    url: "/fodboldtricks/"
    btn_label: "Se fodboldtricks"
    btn_class: "btn--warning"
  - image_path: https://images.unsplash.com/photo-1574629810360-7efbbe195018?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldlege - Photo by Emilio Garcia on Unsplash"
    title: "Fodboldlege"
    excerpt: "En samling af forskellige fodboldlege. Tjek det ud."
    url: "/lege/"
    btn_label: "Se Fodboldlege"
    btn_class: "btn--info"
  - image_path: https://images.unsplash.com/flagged/photo-1569390164069-3a2fd0f67c39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldrytmer"
    title: "Fodboldrytmer"
    excerpt: "Her er inspiration til at tilføje lidt rytme til din opvarmning."
    url: "/fodboldrytmer/"
    btn_label: "Se fodboldrytmer"
    btn_class: "btn--danger"
  - image_path: https://images.unsplash.com/photo-1526232761682-d26e03ac148e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldøvelser"
    title: "Fodboldøvelser"
    excerpt: "Jeg har samlet en masse rigtig gode fodboldøvelser, som du kan bruge til fodboldtræning med børn og unge - både de ældste og yngste spillere."
    url: "/fodboldoevelser/"
    btn_label: "Find fodboldøvelser"
    btn_class: "btn--primary"
  - image_path: https://images.unsplash.com/photo-1508087625439-de3978963553?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldens Træningshjælper"
    title: "Fodboldens Træningshjælper"
    excerpt: "Hvordan kan du opstille målsætninger for dig selv og din træning."
    url: "/hjaelper/"
    btn_label: "Se Træningshjælper"
    btn_class: "btn--success"
  - image_path: https://images.unsplash.com/photo-1587329311101-e21a731a0305?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldgolf"
    title: "Fodboldgolf"
    excerpt: "Fodboldgolf er en blanding mellem golf, minigolf og fodbold. Vi har lavet en oversigt over samtlige fodboldgolfbaner i Danmark."
    url: "/fodboldgolf-og-fodboldgolfbaner/"
    btn_label: "Find fodboldgolfbaner"
    btn_class: "btn--danger"
feature_row_not_used:
  - image_path: https://images.unsplash.com/photo-1587329311101-e21a731a0305?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldens Udfordring - Photo by Chaos Soccer Gear on Unsplash"
    title: "Fodboldens Udfordring"
    excerpt: "Køb spillet Fodboldens Udfordring, som er et kortspil med fodboldudfordringer. En blanding af bilspil, Pokemon og dine egne evner."
    url: "/udfordring/"
    btn_label: "Læs om Udfordring"
    btn_class: "btn--primary"
feature_row_thesis:
  - image_path: /assets/images/cover.jpg
    alt: "Kontrol og læring af motoriske færdigheder og verbal feedback"
    title: "Kontrol og læring af motoriske færdigheder og verbal feedback"
    excerpt: "Bogen besvarer følgende to spørgsmål: (1) Hvordan kan komplicerede, hurtige færdigheder tænkes at være kontrolleret, og hvordan kan påvirkningen og læringen i dette kontrolsystem tænkes at foregå? (2) Hvordan kan underviseren verbalt give feedback på udøverens præstation af en kompliceret, hurtig færdighed for at skabe den bedst mulige motoriske læring hos udøveren?"
    url: "https://www.saxo.com/dk/kontrol-og-laering-af-motoriske-faerdigheder-og-verbal-feedback_lars-olesen_epub_9788743011378"
    btn_label: "Læs mere*"
    btn_class: "btn--success"
gallery:
  - url: /fodboldtricks/
    image_path: /assets/images/books/tricks-2020.jpg
    alt: "Fodboldens Tricks"
    title: "Fodboldens Tricks"
  - url: /hjaelper/
    image_path: /assets/images/books/traeningshjaelper-2020.jpg
    alt: "Fodboldens Træningshjælper"
    title: "Fodboldens Træningshjælper"
  - url: /lege/
    image_path: /assets/images/books/lege-2020.jpg
    alt: "Fodboldens Lege"
    title: "Fodboldens Lege"
  - url: /udfordring/
    image_path: /assets/images/books/udfordring-2020.jpg
    alt: "Fodboldens Udfordring"
    title: "Fodboldens Udfordring"
  - url: /minihjaelper/
    image_path: /assets/images/books/minihjaelper-2020.jpg
    alt: "Fodboldens Minihjælper"
    title: "Fodboldens Minihjælper"
  - url: https://www.saxo.com/dk/kontrol-og-laering-af-motoriske-faerdigheder-og-verbal-feedback_lars-olesen_epub_9788743011378
    image_path: /assets/images/cover.jpg
    alt: "Bevægelser og verbal feedback"
    title: "Bevægelser og verbal feedback"
  - url: /champions-league/
    image_path: /assets/images/books/championsleague.jpg
    alt: "Champions League"
    title: "Champions League"
  - url: /bornetraeningsmanualen/
    image_path: /assets/images/books/bornetraeningsmanual-2006.jpg
    alt: "Børnetræningsmanual"
    title: "Børnetræningsmanual"
  - url: /fodboldrytmer/
    image_path: /assets/images/books/fodboldrytmer-2005.jpg
    alt: "Fodboldrytmer"
    title: "Fodboldrytmer"
gallery_ads:
  - url: https://sportmaster.dk
    image_path: https://track.adtraction.com/t/t?a=1140875995&as=1484571947&t=1&tk=1&i=1
    alt: Sportmaster
    title: Sportmaster
  - url: https://apuls.dk/
    image_path: https://www.partner-ads.com/dk/visbanner.php?partnerid=28187&bannerid=38829
    alt: A-puls
    title: A-puls
  - image_path: https://www.partner-ads.com/dk/visbanner.php?partnerid=28187&bannerid=51749
    url: https://www.saxo.com/
    alt: Saxo
    title: Saxo
header:
  overlay_image: /assets/images/hvad-er-fodboldens-udfordring.jpg
blog:
  - excerpt: '[Se alle blog posts](/blog/){: .btn .btn--large .btn--success }'
---

{% include feature_row id="feature_row_intro" type="center" %}

<hr>

{% include feature_row id="intro" type="center" %}

<h2>Spritnye indlæg på Fodboldens Legestue</h2>

<div class="feature__wrapper">

{% assign site_posts = site.posts | sort: "last_modified_at" | reverse %}

{% if site_posts.size > 0 %}
  {% for post in site_posts limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
{% endif %}

</div>

<h2>Mest populære indlæg</h2>

<div class="feature__wrapper">

{% assign site_posts = site.posts | where: "tags", "featured" | sort: "last_modified_at" | reverse %}

{% if site_posts.size > 0 %}
  {% for post in site_posts limit:4 %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
{% endif %}

</div>

{% include feature_row type="center" id="blog" %}

{% include feature_row %}

<h2>Få hæfterne fra Fodboldens Legestue</h2>

{% include gallery layout="fifth" %}

<div id="ezoic-pub-ad-placeholder-123">
<h2>Støt Fodboldens Legestue ved at besøge vores sponsorer</h2>

{% include gallery id="gallery_ads" %}
</div>
