---
layout: splash
title: Fodboldens Legestue
description: Fodboldtricks, fodboldrytmer, fodboldlege og fodboldøvelser
author_profile: true
intro:
  - excerpt: 'Tilmeld dig Facebookgruppen &nbsp; [<i class="fab fa-facebook-f"></i> Fodboldens Legestue](https://www.facebook.com/legestue/){: .btn .btn--facebook}'
feature_row:
  - image_path: /assets/images/370898-57724-47.jpg
    alt: "Fodboldrytmer"
    title: "Fodboldrytmer"
    excerpt: "Her er inspiration til at tilføje lidt rytme til din opvarmning."
    url: "/fodboldrytmer/"
    btn_label: "Se fodboldrytmer"
    btn_class: "btn--primary"
  - image_path: /assets/images/soccer-trick-shot-thumb6204294.jpg
    alt: "Fodboldtricks"
    title: "Fodboldtricks"
    excerpt: "Vi har samlet en hulens masse fodboldtricks."
    url: "/fodboldtricks/"
    btn_label: "Se fodboldtricks"
    btn_class: "btn--primary"
  - image_path: /assets/images/demo4.jpg
    alt: "Feedback"
    title: "Feedback"
    excerpt: "Læs mere om hvordan man kan give feedback."
    url: "/feedback/"
    btn_label: "Lær om feedback"
    btn_class: "btn--primary"
header:
  overlay_image: /assets/images/hvad-er-fodboldens-udfordring.jpg
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<p>Fodboldens Legestues formål er at gøre fodboldtræningen i Danmark lidt sjovere. Vi fokuserer på koordinationstræning, rytme, tricks, lege og en øget viden om træning. Vi fortæller, hvordan vi synes fodboldtræningen skal være.</p>

<a href="https://track.adtraction.com/t/t?a=1176547603&as=1484571947&t=2&tk=1"><img src="https://track.adtraction.com/t/t?a=1176547603&as=1484571947&t=1&tk=1&i=1" width="930" height="180" border="0"></a>
