---
layout: splash
title: Fodboldens Legestue
description: Fodboldtricks, fodboldrytmer, fodboldlege og fodboldøvelser
author_profile: true
intro:
  - excerpt: 'Tilmeld dig Facebookgruppen &nbsp; [<i class="fab fa-facebook-f"></i> Fodboldens Legestue](https://www.facebook.com/legestue/){: .btn .btn--facebook}'
feature_row:
  - image_path: https://images.unsplash.com/photo-1510210699649-901187bf15e4?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldtricks - Photo by Markus Spiske on Unsplash"
    title: "Fodboldtricks"
    excerpt: "Vi har samlet en hulens masse fodboldtricks."
    url: "/fodboldtricks/"
    btn_label: "Se fodboldtricks"
    btn_class: "btn--warning"
  - image_path: https://images.unsplash.com/flagged/photo-1569390164069-3a2fd0f67c39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldrytmer"
    title: "Fodboldrytmer"
    excerpt: "Her er inspiration til at tilføje lidt rytme til din opvarmning."
    url: "/fodboldrytmer/"
    btn_label: "Se fodboldrytmer"
    btn_class: "btn--danger"
  - image_path: https://images.unsplash.com/photo-1574629810360-7efbbe195018?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldlege - Photo by Emilio Garcia on Unsplash"
    title: "Fodboldlege"
    excerpt: "En samling af forskellige fodboldlege. Tjek det ud."
    url: "/lege/"
    btn_label: "Se Fodboldlege"
    btn_class: "btn--info"
  - image_path: https://images.unsplash.com/photo-1508087625439-de3978963553?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldens Træningshjælper"
    title: "Fodboldens Træningshjælper"
    excerpt: "Hvordan kan du opstille målsætninger for dig selv og din træning."
    url: "/hjaelper/"
    btn_label: "Se Træningshjælper"
    btn_class: "btn--success"
  - image_path: https://images.unsplash.com/photo-1587329311101-e21a731a0305?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Fodboldens Udfordring - Photo by Chaos Soccer Gear on Unsplash"
    title: "Fodboldens Udfordring"
    excerpt: "Køb spillet Fodboldens Udfordring, som er et kortspil med fodboldudfordringer. En blanding af bilspil, Pokemon og dine egne evner."
    url: "/udfordring/"
    btn_label: "Se Udfordring"
    btn_class: "btn--primary"
  - image_path: https://images.unsplash.com/photo-1526232761682-d26e03ac148e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&h=267&q=80
    alt: "Feedback"
    title: "Feedback"
    excerpt: "Læs mere om hvordan man kan give feedback."
    url: "/feedback/"
    btn_label: "Lær om feedback"
    btn_class: "btn--primary"
feature_row_thesis:
  - image_path: /assets/images/cover.jpg
    alt: "Kontrol og læring af motoriske færdigheder og verbal feedback"
    title: "Kontrol og læring af motoriske færdigheder og verbal feedback"
    excerpt: "Bogen besvarer følgende to spørgsmål: (1) Hvordan kan komplicerede, hurtige færdigheder tænkes at være kontrolleret, og hvordan kan påvirkningen og læringen i dette kontrolsystem tænkes at foregå? (2) Hvordan kan underviseren verbalt give feedback på udøverens præstation af en kompliceret, hurtig færdighed for at skabe den bedst mulige motoriske læring hos udøveren?"
    url: "https://www.saxo.com/dk/kontrol-og-laering-af-motoriske-faerdigheder-og-verbal-feedback_lars-olesen_epub_9788743011378"
    btn_label: "Læs mere"
    btn_class: "btn--success"
gallery:
  - url: /fodboldtricks/
    image_path: /assets/images/books/tricks-2020.png
    alt: "Fodboldens Tricks"
    title: "Fodboldens Tricks"
  - url: /hjaelper/
    image_path: /assets/images/books/traeningshjaelper-2020.jpg
    alt: "Fodboldens Træningshjælper"
    title: "Fodboldens Træningshjælper"
  - url: /lege/
    image_path: /assets/images/books/lege-2020.png
    alt: "Fodboldens Lege"
    title: "Fodboldens Lege"
  - url: /udfordring/
    image_path: /assets/images/books/udfordring-2020.jpg
    alt: "Fodboldens Udfordring"
    title: "Fodboldens Udfordring"
  - url: /minihjaelper/
    image_path: /assets/images/books/minihjaelper-2020.png
    alt: "Fodboldens Minihjælper"
    title: "Fodboldens Minihjælper"
  - url: https://www.saxo.com/dk/kontrol-og-laering-af-motoriske-faerdigheder-og-verbal-feedback_lars-olesen_epub_9788743011378
    image_path: /assets/images/cover.jpg
    alt: "Bevægelser og verbal feedback"
    title: "Bevægelser og verbal feedback"
  - url: /champions-league/
    image_path: /assets/images/books/championsleague.png
    alt: Champions League"
    title: "Champions League"
  - url: /bornetraeningsmanualen/
    image_path: /assets/images/books/bornetraeningsmanual-2006.png
    alt: "Børnetræningsmanual"
    title: "Børnetræningsmanual"
  - url: /fodboldrytmer/
    image_path: /assets/images/books/fodboldrytmer-2005.png
    alt: "Fodboldrytmer"
    title: "Fodboldrytmer"
gallery_ads:
  - url: http://sportmaster.dk
    image_path: https://track.adtraction.com/t/t?a=1140875995&as=1484571947&t=1&tk=1&i=1
    alt: Sportmaster
    title: Sportmaster
  - url: https://apuls.dk/
    image_path: https://www.partner-ads.com/dk/visbanner.php?partnerid=28187&bannerid=38829
    alt: A-puls
    title: A-puls
  - image_path: https://www.partner-ads.com/dk/visbanner.php?partnerid=28187&bannerid=51749
    url: http://www.saxo.com/
    alt: Saxo
    title: Saxo
header:
  overlay_image: /assets/images/hvad-er-fodboldens-udfordring.jpg
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<p>Fodboldens Legestues formål er at gøre fodboldtræningen i Danmark lidt sjovere. Vi fokuserer på koordinationstræning, rytme, tricks, lege og en øget viden om træning. Vi fortæller, hvordan vi synes fodboldtræningen skal være.</p>

<h2>Få hæfterne</h2>

{% include gallery %}

{% include feature_row id="feature_row_thesis" type="left" %}

<h2>Støt sitet ved at besøge vores sponsorer</h2>

{% include gallery id="gallery_ads" %}
