{% assign signup_url = include.signup_url | default: site.signup.url %}
{% assign mailchimp_recaptcha = include.recaptcha | default: site.signup.recaptcha %}
{% assign title = include.title | default: site.signup.title | default: "Få opdateringer" %}
{% assign excerpt = include.excerpt | default: site.signup.excerpt | default: "Vær den første der får besked, når der er nyt." %}
{% assign submit = include.submit | default: site.signup.cta_label | default: "Tilmeld" %}
{% assign button = site.signup.cta_class | default: "danger" %}

{% if signup_url %}

<!-- Begin Mailchimp Signup Form -->
<aside class="page__signup">
    <form
        action="{{ signup_url | absolute_url }}"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <fieldset>
            <p class="signup-logo">
                <a href="https://eepurl.com/h2NjYX" title="Mailchimp - email marketing made easy and fun" rel="external nofollow noopener">
                    <img width="100px" src="/assets/images/mc-logo.png" alt="Mailchimp logo">
                </a>
            </p>
        <div>
        <p class="signup__title">{{ title }}</p>
        <p>{{ excerpt }}</p>
        <div class="form-inline">
            <label for="mce-EMAIL" style="position: absolute; left: -5000px;" aria-hidden="true">Email Address <span class="asterisk">*</span></label>
            <input type="email" placeholder="Indtast din e-mail" name="EMAIL" class="input-medium email" id="mce-EMAIL" required>
            <input type="submit" value="{{ submit }}" name="subscribe" id="mc-embedded-subscribe" class="btn btn--{{ button }} btn--medium">
        </div>
        </div>
        {% comment %}
        <div class="form-group">
            <label for="mce-FNAME">Fornavn</label>
            <input type="text" placeholder="Fornavn" name="FNAME" id="mce-FNAME">
            <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
        </div>
        {% endcomment %}
            {% comment %}
            <div class="mc-field-group input-group">
                <strong>Interesser</strong>
                <ul>
                    <li>
                        <input type="checkbox" value="1" name="group[83726][1]" id="mce-group[83726]-83726-0">
                        <label for="mce-group[83726]-83726-0">Styrketræning</label>
                    </li>
                    <li>
                        <input type="checkbox" value="2" name="group[83726][2]" id="mce-group[83726]-83726-1">
                        <label for="mce-group[83726]-83726-1">Konditionstræning</label>
                    </li>
                    <li>
                        <input type="checkbox" value="4" name="group[83726][4]" id="mce-group[83726]-83726-2">
                        <label for="mce-group[83726]-83726-2">Løb og løbetræning</label>
                    </li>
                    <li>
                        <input type="checkbox" value="16" name="group[83726][16]" id="mce-group[83726]-83726-3">
                        <label for="mce-group[83726]-83726-3">Cykling og cykeltræning</label>
                    </li>
                    <li>
                        <input type="checkbox" value="8" name="group[83726][8]" id="mce-group[83726]-83726-4">
                        <label for="mce-group[83726]-83726-4">Yoga og mindfulness</label>
                    </li>
                    <li>
                        <input type="checkbox" value="32" name="group[83726][32]" id="mce-group[83726]-83726-5">
                        <label for="mce-group[83726]-83726-5">At gå og gangtræning</label>
                    </li>
                </ul>
                <span id="mce-group[83726]-HELPERTEXT" class="helper_text"></span>
            </div>
            {% endcomment %}
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="{{ mailchimp_recaptcha }}" tabindex="-1" value="">
        </div>
        </fieldset>
    </form>
</aside>
{% endif %}