---
layout: archive
---

{{ content }}

{% assign tags =  site[page.collection] | map: 'tags' | uniq %}

<ul class="taxonomy__index">
  {% for tag in tags %}
    {% for post in site[page.collection] %}
      {% if post.tags contains tag %}
        {% assign i = i | plus:1 %}
      {% endif %}
    {% endfor %}
    <li>
      <a href="#{{ tag | slugify }}">
        <strong>{{ tag }}</strong> <span class="taxonomy__count">{{ i }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% for tag in tags %}
  <section id="{{ tag | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ tag }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
    {% for post in site[page.collection] %}
      {% if post.tags contains tag %}
        {% include archive-single.html type=page.entries_layout %}
      {% endif %}
    {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
